{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Camera Example</title>
  </head>
  <body>
    <h1>Camera Example</h1>
    <video id="camera-feed" width="640" height="480" autoplay></video>

    <script>
      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
          var video = document.getElementById('camera-feed');
          video.srcObject = stream;
        })
        .catch(function(error) {
          console.log('Error accessing camera:', error);
        });
    </script>
  </body>
</html>
{% endblock %}
