    {% extends 'base.html' %}

    {% block content %}
        <h1>Notifications</h1>
        {% for notification in notifications %}
            <div class="notification">
                {% if notification.posts.all %}
                    <p>{{ notification.user.email }} posted a new post.</p>
                {% endif %}
                {% if notification.likes.all %}
                    <p>{{ notification.likes.all|length }} users liked a post.</p>
                {% endif %}
                {% if notification.follows.all %}
                    <p>{{ notification.follows.all|length }} users followed {{ notification.user.email }}.</p>
                {% endif %}
                {% if notification.comments.all %}
                    <p>{{ notification.comment.all|length }} user commented </p>
                {% endif %}
            </div>
        {% endfor %}
    {% endblock %}
